body{
	background: #f6f6f6;
}
.nav_box{
	background: #e3e4e5;
	height: 30px;
	border-bottom: 1px solid #ddd;
}
.center_box{
	width: 1200px;
	margin: 0 auto;
	min-width: 1200px;
}
.nav_center>ul>li{
    /*width: 57px;*/
	height: 30px;
	color: #999;
	/*text-align: center;*/
	line-height: 30px;
	/*padding: 0 10px;*/
}
.nav_box .space{
	width: 1px;
	height: 10px;
	background: #ccc;
	margin: 11px 5px 0;
}
.nav_center a{
    color: #999;
}
.nav_center>ul>li>a{
	padding: 0 5px;
}
.nav_box a:hover{
	color: #C81623;
}
.Tel_time>li{
	float: left;
}
.Tel_time>li img{
	vertical-align: middle;
	margin-right: 5px;
}
.nav>li{
	float: left;
}
.nav>li>.register{
	color: #f10215;
}
.login{
	font-family: verdana\,simsun;
}
.bigspace{
	border: 1px solid #e3e4e5;
	position: relative;
	border-bottom: none;
	padding-right: 20px;
}
.bigspace:hover{
	background: #fff;
	border: 1px solid #ccc;
	display: block;
	border-bottom: none;
	z-index: 1000;
}
.bigspace>i{
    position: absolute;
    right: 5px;
    line-height: 14px;
    top: 10px;
}
/*添加伪类*/
.bigspace:hover:after{
	content: "";
	width: 100%;
	height: 1px;
	background: #fff;
    position: absolute;
    left: 0;
	top: 29px;
	z-index: 100;
}
/*胖东来各楼层电话列表*/
.detail_tel{
	background: #fff;
	position: absolute;
	top: 29px;
	left: -1px;
	padding: 10px;
	width: 1028px;
	border: 1px solid #ccc;
	display: none;
}
.detail_tel li{
	border: none;
	border-right: 1px solid #ccc;
}
.detail_tel li ul li{
	border: none;
	float: left;
	padding-left: 10px;
}
.Tel_time h4,.nav h4{
	color: #666;
	line-height: 24px;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}
.detail_tel li ul li span{
	/*color: #000;
*/	font-size: 12px;
}
.detail_tel>li{
	float: left;
	width: 170px;
	height: 320px;
	line-height: 20px;
}
.Tel:hover .detail_tel{
	display: block;
	z-index: 100;
}
/*胖东来时代商城营业时间*/
.detail_time{
   background: #fff;
	position: absolute;
	top: 29px;
	left: -1px;
	padding: 10px;
	width: 170px;
	height: 115px;
	border: 1px solid #ccc;
	display: none;
}
.detail_time li{
	height: 60px;
	border: none;
	border-bottom: 1px solid #ccc;
}
.detail_time li p{
	font-size: 12px;
	font-weight: 500;
	text-align: center;
}
.Time:hover .detail_time{
	display: block;
	z-index: 100;
}
/*我的DL*/
.myDL{
	position: absolute;
    left: -1px;
    top: 29px;
    width: 279px;
    height: 160px;
    border: 1px solid #ccc;
    background: #FFFFFF;
    display: none;
}
.myDL>li{
	padding: 10px 10px 10px 15px;
}
.myDL-box{
	width: 125px;
	line-height: 24px;
}
.myDL-li:hover .myDL{
	display: block;
	z-index: 100;
}
/*客户服务*/
.server_list{
	position: absolute;
    left: -1px;
    top: 29px;
    width: 160px;
    height: 405px;
    border: 1px solid #ccc;
    background: #FFFFFF;
    /*background: #e8e8e8;*/
    display: none;
}
.server_list>li{
	padding: 10px 10px 10px 15px;
	line-height: 24px;
	border-bottom: 1px solid #ccc;
}
.server:hover .server_list{
	display: block;
	z-index: 100;
}
/*企业文化*/
.culture_list{
	position: absolute;
    left: -1px;
    top: 29px;
    width: 160px;
    height: 410px;
    border: 1px solid #ccc;
    background: #FFFFFF;
    /*background: #e8e8e8;*/
    display: none;
}
.culture_list>li{
	padding: 10px 10px 10px 15px;
	line-height: 20px;
	border-bottom: 1px solid #ccc;
	/*width: 100%*/
}
.culture_list>li a:hover{
    color: #C81623;
}
.Culture:hover .culture_list{
	display: block;
}
/*精彩分享*/
.share_list{
	position: absolute;
    left: -1px;
    top: 29px;
    width: 160px;
    height: 165px;
    border: 1px solid #ccc;
    background: #FFFFFF;
    /*background: #e8e8e8;*/
    display: none;
}
.share_list>li{
	padding: 10px 10px 10px 15px;
	line-height: 20px;
	border-bottom: 1px solid #ccc;
}
.Share:hover .share_list{
	display: block;
	z-index: 100;
}
/*手机京东*/
.phone_DL{
	position: relative;
}
.code{
	position: absolute;
	width: 60px;
	height: 60px;
	background: url(../images/DLweixin-1.png) center center no-repeat;
	border: 1px solid #ccc;
	background-size: 60px 60px;
	padding: 3px;
	right: 0;
	top: 30px;
}
.code:after{
	width: 0;
    height: 0;
    content:"";
    border-width: 5px;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    left: 25px;
    top: -10px;
    border-style: solid;
}
.phone_list{
	position: absolute;
	transition: 30px;
	right: 0;
	width: 190px;
	border: 1px solid #ccc;
	background-color: #fff;
	display: none;
}
.phone_list>li{
	padding: 10px 5px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.code_picture{
	width: 70px;
	height: 70px;
	background:url(../images/DLweixin-1.png) center center no-repeat;
	-webkit-background-size: 70px 70px;
	background-size: 70px 70px;
	border: 1px solid #ccc;
	padding: 3px;
}
.phone_DL_r{
	width: 94px;
	/*text-align: left;*/
}
.phone_DL_r>h5{
	line-height: 14px;
}
.phone_DL_r>p{
	color: #f10214;
	line-height: 14px;
	margin-top: 3px;
}
.mobile>a{
	width: 25px;
	height: 25px;
	margin-right: 2px;
}
.phone_DL:hover .phone_list{
	display: block;
	z-index: 100;
}
.phone_DL:hover:after{
	content: "";
	width: 0;
	height: 0;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	left: 26px;
	bottom: -1px;
	z-index: 1000;
}
/*头部搜索部分*/
.head{
	background: #fafafa;
	border-bottom: 1px solid #eaeaea;
}
.layout{
	height: 69px;
	position:relative;
	padding-top: 1px;
}
/*胖东来LOGO*/
.logo_index{
	margin-top: 10px;
}
.logo_index img{
	vertical-align: middle;
}
.logo_index a{
	display: inline-block;
}
.age{
	margin-left: 20px;
}
/*搜索框加购物车*/
.search_shopping{
	width: 770px;
	margin-left: 320px;
	margin-top: 24px;
}
.search_box>input{
	padding: 4px;
	width: 490px;
	height: 25px;
	border: 1px solid #f10215;
	font-size: 14px;
	line-height: 25px;
	color: #989898;
	background: #fff;
}
.search_box{
	position: relative;
	width: 550px;
}
.search_box_key{
	position: absolute;
	display: block;
	max-width: 280px;
	right: 100px;
	top: 9px;
	z-index: 2;
	white-space: nowrap;
	text-align: right;
	overflow: hidden;
}
.search_box_key a{
	color: #a3a3a3;
	font-size: 12px;
	padding: 4px;
	background: #f5f5f5;
	cursor: pointer;
	margin-right: 10px;
}
.search_box_key a:hover{
	color: #ca141d;
}
.btn{
	width: 50px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	color: #fff;
	background: #f10215;
}
.btn>a>i{
	font-size: 25px;
	font-weight: 600;
	color: #fff;
}
/*我的购物车*/
.shopping_car_box{
	width: 188px;
	height: 33px;
	border: 1px solid #e3e4e5;
	text-align: center;
	line-height: 33px;
	position: relative;
	background: #fff;
	/*top: 9px;*/
}
.shopping_car_box a{
	color: #f10214;
	height: 33px;
	line-height: 33px;
	font-size: 14px;
}
.shopping_car_box>i{
	color: #f10214;
	font-size: 23px;
}
.shopping_car_box>a{
    color: #f10214;
}
.shopping_car_box>span{
	position: absolute;
	right: 25px;
	top: 5px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #f10215;
	color: #fff;
	text-align: center;
	line-height: 16px;
}
.shopping_list{
	position: absolute;
	right: -1px;
	top: 33px;
	width: 308px;
	border: 1px solid #ccc;
	background: #fff;
	display: none;
}
.shopping_list>li{
	width: 278px;
	height: 49px;
	padding: 10px 15px;
	/*background: #fafafa;*/
}
.shopping_list>li>img{
	width: 56px;
	height: 49px;
	/*更改图片的对齐方式为中部对齐（默认为下部对齐）*/
	vertical-align: middle;
	margin-left: 30px;
}
.shopping_list>li>span{
	color: #999;
	line-height: 49px;
}
.shopping_car_box:hover .shopping_list{
    z-index: 100;
    display: block;
}
.shopping_car_box:hover{
	border: 1px solid #ccc;
	border-bottom: none;
	z-index: 1000;
}
.shopping_car_box:hover:after{
	content: "";
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: -1px;
	z-index: 101;
}
/*主界面导航*/
.nav_main{
	height: 42px;
	background: #fff;
}
.nav_main_layout{
	position: relative;
	z-index: 410;
	height: 42px;
}
.naver_category{
	position: absolute;
	left: 0;
	top: 0;
	height: 42px;
	width: 240px;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
}
.naver_category .h{
	height: 42px;
}
.naver_category .h h2{
	border-bottom-color: #da3243;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	color: #000;
	padding-left: 16px;
	font-weight: 400px; 
}
/*分类导航*/
.b .category_list{
	position: relative;
	height: 450px;
    padding-bottom: 0;
    display: block;
    background-color: rgba(0,0,0,.6);
    border-top: 0 none;
}
.b .category_list>li{
	height: 75px;
	vertical-align: middle;
}
.category_list>li:hover{
	background-color: rgba(0,0,0,.4);
}
.category_list li:hover .category_info>a{
	color: rgba(255,255,255,0.8);
}
.category_list li:hover .category_info>i{
	background-position: -21px 0;
}
.category_info{
	padding: 10px 16px;
	height: 55px;
	position: relative;
}
.category_info h3{
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	padding-bottom: 2px;
}
.category_info>h3>a{
	font-size: 16px;
	color: #fff;
}
.category_info a{
	color: #999;
	font-size: 14px;
	margin-right: 8px;
	/*position: relative;*/
}
.category_info i{
	display: block;
	position: absolute;
	width: 7px;
	height: 13px;
	background: transparent url(../images/icon2.png) scroll no-repeat;
	background-position: -49px 0;
	top: 50%;
	margin-top: 6px;
	right: 10px;
}
/*水平导航栏*/
.naver{
	position: absolute;
	top: 0;
	left: 242px;
	width: 933px;
	padding-left: 25px;
}
.naver_list {
	width: 939px;
	height: 42px;
}
.naver_list li{
	float: left;
}
.naver_list li a{
	display: inline-block;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #3a3a3a;
	margin: 0 25px;
	white-space: nowrap;
	text-align: center;
	position: relative;
}
.naver_list li a:after{
	content: '';
	width: 0;
	position: absolute;
	bottom: 6px;
	left: 0;
	height: 3px;
	background: #ca151d;
	transition: all 1s ease;
}
.naver_list li a:hover:after{
	width: 100%;
}

.category_panels{
	position: absolute;
	left: 240px;
	width: 648px;
	height: 448px;
	background-color: #fff;
	top: 0;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	display: none;
}
.p_title{
	padding: 20px 28px 20px 40px;
	width: 580px;
	height: 30px;
	line-height: 30px;
}
.p_title a{
	display: block;
	width: 580px;
	height: 30px;
	font-size: 14px;
	color: #ca151d;
	float: left;
}
.subcate_list{
	width: 580px;
	padding: 36px 28px 0 40px;
	border-top: 1px solid #eaeaea;
}
.subcate_list li{
	float: left;
	padding-bottom: 36px;
	vertical-align: top;
}
.subcate_list li a{
	display: block;
	padding-right: 30px;
	line-height: 1;
	font-size: 14px;
	color: #3a3a3a;
}
.p_pro {
	width: 648px;
	height: 236px;
	border-top: 1px solid #eaeaea;
	position: absolute;
	bottom: 0;
	left: 0;
}
.p_pro .grid_items:first-child {
    border-left: 1px solid transparent;
}
.p_pro .grid_items{
	width: 24.7%;
	height: 236px;
	background: #fff;
	float: left;
	position: relative;
	border-left: 1px solid #eaeaea;
	z-index: 1;
	transition: all .2s linear 0s;
}
.grid_items a{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
}
.grid_items .grid_img img{
	width: 118px;
	height: 118px;
	
}
.grid_items .grid_img{
	margin: 26px auto 0;
	display: inline-block;
}
.grid_items:hover{
	transform: translate3d(0px,-2px,0px);
	z-index: 2;
	box-shadow: 0 10px 15px rgba(0,0,0,0.07);
}
.grid_items h3{
	margin-top: 0;
	padding-top: 0;
	width: 129px;
	height: 42px;
	line-height: 1.1;
	font-weight: 400;
	font-size: 14px;
	margin: 16px 20px 2px;
	overflow: hidden;
	color: #3a3a3a;
	/*display:table-cell属性指让标签元素以表格单元格的形式呈现，类似于td标签。*/
	display: table-cell;
	vertical-align: bottom;
	padding-left: 16px;
	padding-right: 16px;
}
.grid_items>a:last-child{
	margin: 8px 0 0;
	line-height: 1;
	font-size: 14px;
	font-weight: 400;
	overflow: hidden;
	/*text-overflow 属性规定当文本溢出包含元素时发生的事情  ellipsis	显示省略符号来代表被修剪的文本。*/
	text-overflow: ellipsis;
	/*white-space 属性设置如何处理元素内的空白。nowrap	文本不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。*/
	white-space: nowrap;
	color: #cc0e11;
}
.subcate_list>li>a:hover{
	color: #ca151d;
}
/*鼠标悬停 详细导航*/
/*时代广场负一楼*/
.zxnav_0:hover .category_panels{
	display: block;
}
/*时代广场一楼*/
.zxnav_1:hover .category_panels{
	display: block;
}
/*时代广场二楼*/
.zxnav_2:hover .category_panels{
	display: block;
}
/*时代广场三楼*/
.zxnav_3:hover .category_panels{
	display: block;
}
/*时代广场四楼*/
.zxnav_4:hover .category_panels{
	display: block;
}
/*时代广场五楼*/
.zxnav_5:hover .category_panels{
	display: block;
}
/*热门班*/
.hot_board{
	min-width: 1200px;
	background: #333;
	margin-bottom: 30px;
	
}
#ec_slider_list{
	height: 450px;
	width: 1920px;
	position: relative;
	overflow: hidden;
}
#ec_slider_item{
	height: 450px;
	position: absolute;
	top: 0;
	left: 0;
}
#ec_slider_item img{
	height: 450px;
	width: 1920px;
	float: left;
	cursor: pointer;
}
/*滑动圆点*/
#btn-box{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 30px;
	text-align: center;
}
#btn-box span{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	line-height: 30px;
	cursor: pointer;
	margin-right: 10px;
}
#btn-box span.active{
	background: red;
	color: #fff;
}
#nextBtn{
	position: absolute;
	top: 35%;
	right: 18px;
	height: 100px;
	width: 50px;
	line-height: 100px;
	text-align: center;
	transition: all 0.25s;
	opacity: 0;
	cursor: pointer;
	background: rgba(0,0,0,.5);
	color: #fff;
}
#prevBtn{
	position: absolute;
	left: 0;
	top: 35%;
	height: 100px;
	width: 50px;
	line-height: 100px;
	text-align: center;
	transition: all 0.25s;
	opacity: 0;
	cursor: pointer;
	background: rgba(0,0,0,.5);
	color: #fff;
}
/*优惠中心*/
.led{
	/*margin-bottom: 30px;*/
	height: 215px;
}
.grid_cl{
	/*height: 215px;*/
	/*background: #fff;*/
}
.coupon_hd{
	float: left;
	width: 190px;
	height: 215px;
	background: #ea3524;
}
.coupon_hd a{
	display: block;
	padding: 25px;
	width: 140px;
	height: 165px;
	color: #fff;
}
.coupon_hd a h3{
	overflow: hidden;
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 30px;
	font-family: fzzhengheis-el-gbregular;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: 400;
}
.coupon_hd a span:first-of-type{
	display: block;
	margin-top: 8px;
	margin-bottom: 20px;
	width: 55px;
	height: 3px;
	background: #fff;
}
.coupon_hd a p{
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.coupon_hd a span:last-of-type{
	display: block;
	position: relative;
	margin-top: 20px;
	padding: 2px 35px 4px 15px;
	height: 20px;
	line-height: 20px;
	border: 2px solid #fff;
	overflow: hidden;
}
.coupon_hd a i{
	position: absolute;
	right: 15px;
	top: 5px;
	width: 15px;
	height: 16px;
	background: url(../images/sprite_index@1x.png) -154px -40px no-repeat;
	background-size: 218px 188px;
}
.coupon_bd{
	float: right;
}
.coupon_list{
	padding: 10px 0;
}
.coupon_list>li{
	position: relative;
	float: left;
	width: 199px;
	height: 195px;
	border-right: 1px solid #e7e7e7;
	overflow: hidden;
}
.coupon_list>li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #666;
}
.coupon_item{
	position: absolute;
	z-index: 1;
	left: 15px;
	top: 15px;
	width: 100px;
	border-top: 3px solid #e93524;
	background: #fff;
}
.coupon_item p:nth-child(1){
	overflow: hidden;
	margin-top: 7px;
	height: 36px;
	line-height: 36px;
	font-size: 34px;
	font-weight: 700;
	color: #f10214;
}
.coupon_item p:nth-child(1) i{
	margin-right: 3px;
	font-family: arial;
	font-weight: 400;
	font-size: 12px;
}
.coupon_item p:nth-child(2){
	overflow: hidden;
	margin-top: 3px;
	height: 36px;
	line-height: 36px;
	color: #e93524;
	display: inline-block;
	vertical-align: middle;
}
.coupon_item p:nth-child(2) i{
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
	font-size: 0;
}
.coupon_item p:nth-child(3){
	overflow: hidden;
	padding: 15px 10px;
	width: 80px;
	/*height: 36px;*/
	background: #e7e7e7;
	color: #666;
	display: inline-block;
    vertical-align: middle;
}
.coupon_item p:nth-child(3) i{
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
	font-size: 0;
}
.coupon_item p:nth-child(4){
	overflow: hidden;
	width: 100%;
	height: 26px;
	line-height: 26px;
	background: #e93524;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	color: #fff;
}
.coupon_list>li a img{
	-webkit-transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
	-o-transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
	transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
	overflow: hidden;
	position: absolute;
	right: 15px;
	top: 25px;
	width: 140px;
	height: 140px;
	vertical-align: middle;
}
.coupon_list>li>a>span{
	position: absolute;
	left: 100px;
	top: 33px;
	width: 15px;
	height: 117px;
	box-shadow: 0 0 30px #999;
} 
.coupon_list>li:hover .coupon_img{
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px);
    transform: translateX(15px);
}
/*中部条*/
.J_f_rec{
	margin-bottom: 30px;
	height: 100px;
	background: #e0e0e0;
}
.rec_list{
	overflow: hidden;
	height: 100px;
}
.rec_list li{
	float: left;
	overflow: hidden;
	width: 396px;
	height: 100%;
}
.rec_list li a{
	display: block;
	height: 100%;
	color: #666;
}
.rec_list li a:hover{
	color: #c81623;
}
.rec_list li a:hover img{
	opacity: .8;
}
.rec_list li a img{
	transition: opacity .2s;
	display: block;
	margin: auto;
	vertical-align: middle;
}
/*享品质*/
.J_f_lift{
	height: 585px;
	margin-bottom: 30px;
}
.ftit_inner{
	overflow: hidden;
	padding: 0 0 20px;
	height: 35px;
	background: url(../images/xiazai.png) repeat-x 0 18px;
	text-align: center;
	font-size: 24px;
	line-height: 35px;
}
.ftit_inner h3{
	display: inline;
	padding: 0 50px;
	background: #f6f6f6;
	font-weight: 400;
	font-size: 26px;
	color: #333;
	font-family: fzzhengheis-el-gbregular;
}
.entry_inner{
	overflow: hidden;
}
.entry_list{
	height: 530px;
	overflow: hidden;
	margin-left: -10px;
	width: 1200px;
}
.J_live{
	float: right;
	height: 350px;
	color: #fff;
	font-size: 12px;
	width: 390px;
	position: relative;
	margin: 0 0 10px 10px;
	background: #fff;
}
.live_innner{
	width: 100%;
	height: 100%;
	background: #333;
}
.live_head{
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 38px;
	background: rgba(0,0,0,.57);
}
.live_head a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 38px;
	line-height: 38px;
	color: #fff;
}
.live_head a h4{
	line-height: 38px;
	text-indent: 24px;
	font-size: 16px;
	font-weight: 400;
}
.live_head a span{
	position: absolute;
	right: 20px;
	top: 0;
	height: 38px;
	line-height: 38px;
	color: #fff;
	padding-right: 24px;
}
.live_head a span i{
	position: absolute;
	right: 0;
	top: 11px;
	background: url(../images/sprite_entrylive@1x.png) -205px -128px no-repeat;
	background-size: 237px 170px;
	width: 15px;
	height: 16px;
}
.live_list li{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.live_list li a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.live_list li a img{
	height: 350px;
	margin-left: -38px;
	vertical-align: middle;
}
.live_list li .live_info{
	z-index: 10;
	position: absolute;
	top: 260px;
	width: 100%;
	text-align: center;
}
.live_list li .live_info h5{
	font-size: 16px;
	line-height: 26px;
}
.live_list li .live_info i{
	display: inline-block;
	position: relative;
	top: 5px;
	background: url(../images/sprite_entrylive@1x.png) -205px -52px no-repeat;
	background-size: 237px 170px;
	width: 20px;
	height: 20px;
	margin-right: 4px;
}
.live_list li .live_info p{
	font-size: 14px;
	line-height: 24px;
}
.live_ind{
	position: absolute;
	left: 0;
	top: 325px;
	width: 100%;
	text-align: center;
	line-height: 8px;
}
.live_ind li{
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #fff;
	margin: 0 4px;
	border-radius: 4px;
}
.live_ind li:hover{
	background: #fd3131;
}
.live_btn{
	z-index: 10;
	position: absolute;
	top: 145px;
	background: rgba(0,0,0,.42);
	width: 20px;
	height: 48px;
	line-height: 48px;
	color: #fff;
	text-align: center;
	display: none;
}
.live_btn i{
    font-family: iconfont;
    font-style: normal;
    line-height: 48px;
    color: #fff;
    text-align: center;
}
.live_btn1{
	left: 0;
}
.live_btn2{
	right: 0;
}
.live_playbtn{
	z-index: 6;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -33px 0 0 -33px;
	background: url(../images/sprite_entrylive@1x.png) 0 -105px no-repeat;
	-webkit-background-size: 237px 170px;
	background-size: 237px 170px;
	width: 65px;
	height: 65px;
	display: none;
}
.J_live:hover .live_btn,.J_live:hover .live_playbtn{
	display: block;
}
.entry_item{
	width: 390px;
	height: 170px;
	overflow: hidden;;
	position: relative;
	float: left;
	margin: 0 0 10px 10px;
	background: #fff;
}
.entry_item a{
	display: block;
	width: 100%;
	height: 100%;
	color: #666;
}
.entry_bg{
	position: absolute;
	transform: translate(0);
	z-index: 1;
	width: 36%;
	left: 0;
	top: 0;
	height: 100%;
	color: #fff;
	opacity: .9;
	backface-visibility: hidden;
	
}
.entry_info{
	padding-top: 45px;
	width: 100px;
	font-size: 14px;
	margin: 0 auto;
}
.entry_info h4{
	overflow: hidden;
	font-size: 22px;
	height: 40px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	line-height: 40px;
	text-align: center;
	font-family: fzzhengheis-el-gbregular;
	font-weight: 400;
}
.entry_info p{
	overflow: hidden;
	margin-top: 8px;
	height: 32px;
	line-height: 16px;
	font-size: 14px;
}
.entry_lk>img{
	-webkit-transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
	-o-transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
	transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
	display: block;
	width: 400px;
	height: 170px;
	vertical-align: middle;
	border: 0;
}
/*设置过渡属性*/
.entry_lk:hover img{
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
}
.entry_items{
	width: 190px;
	height: 170px;
	overflow: hidden;
	position: relative;
	float: left;
	margin: 0 0 10px 10px;
	background: #fff;
}
.entry_items>a{
    display: block;
    width: 100%;
    height: 100%;
}
.entry_items>a>.entry_bg{
	width: 100%;
	height: 80px;
	bottom: 0;
	left: 0;
	top: auto;
	position: absolute;
	color: #fff;
	opacity: .9;
	backface-visibility: hidden;
}
.entry_items>a>.entry_bg>.entry_info{
	padding-top: 0;
	width: 100%;
	padding: 10px 0 0;
	text-align: center;
	font-size: 14px;
	margin: 0 auto;
}
.entry_items>a>.entry_bg>.entry_info>h4{
	font-size: 16px;
	line-height: 34px;
	width: 100px;
	height: 30px;
	margin: 0 auto;
	overflow: hidden;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	text-align: center;
	font-family: fzzhengheis-el-gbregular;
	font-weight: 400;
}
.entry_items>a>.entry_bg>.entry_info>p{
    margin-top: 8px;
    height: 32px;
    line-height: 16px;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.entry_lkk img{
	-webkit-transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
	-o-transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
	transition: transform .5s,-webkit-transform .5s,-moz-transform .5s;
	display: inline-block;
	width: 200px;
	height: 170px;
	vertical-align: middle;
}
.entry_lkk:hover img{
	-webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
}
/*今日早市*/
.market_head{
	position: relative;
}
.market_head h2{
    color: #3a3a3a;
    font-size: 22px;
    margin: 0;
    padding: 30px 0 15px 0;
    line-height: 1;
    font-weight: 400;
}
.market_body{
	position: relative;
	height: 590px;
}
.span_left{
	width: 232px; 
}
.grid_promo_list{
	margin: 0 0 -10px -10px;
}
.grid_promo_list li{
	width: 232px;
	height: 590px;
	background: #fff;
	float: left;
	margin-bottom: 10px;
	margin-left: 10px;
	position: relative;
	-webkit-transition: all .2s linear 0s;
	-o-transition: all .2s linear 0s;
	transition: all .2s linear 0s;
	z-index: 1;
}
.market_body li:hover{
	transform: translate3d(0px,-2px,0px);
    z-index: 2;
    box-shadow: 0 10px 15px rgba(0,0,0,0.07)
}
.grid_promo_list li a{
	display: inline-block;
	height: 100%;
	width: 100%;`
	text-align: center;
}
.grid_promo_list li a img{
	width: 232px;
	height: 590px;
	border: 0 none;
	text-align: center;
}
.span_right{
	width: 968px;
}
.grid_list>li{
    background: #fff;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
    width: 232px;
    height: 290px;
    z-index: 1;
    display: block;
}
.grid_list>li>a{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 20px;
}
..grid_list_p1{
    margin: 34px auto 0;
    width: 134px;
    height: 134px;
    text-align: center;
}
.grid_list a h3{
	padding-top: 14px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 20px;
    color: #3a3a3a;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 212px;
}
.grid_list_p2{
	margin: 0;
	line-height: 24px;
	font-size: 12px;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #a4a4a4;
}
.grid_list_p3{
	margin: 0;
	line-height: 28px;
	font-size: 14px;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #cc0e11;
	text-align: center;
}
#grid_list_p4{
	position: absolute;
	width: 60px;
	height: 60px;
	right: 40px;
	top: 80px;
	z-index: 2;
}
#grid_list_p4>img{
	height: 60px;
	width: 60px;
	text-align: center;
}
.Morning_market{
	margin-bottom: 40px;
}
/*底部*/
.mod_foot{
	height: 570px;
	background: #71bbf0;
}
.mod_center{
	padding: 30px 0;
	border-bottom: 1px solid #dedede;
}
.mod_server .center_box_top ul li{
	width: 297px;
	float: left;
	text-align: center;
}
.mod_server .center_box_top .img{
    width: 36px;
    height: 42px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.mod_server .center_box_top p{
	display: inline-block;
}
.mod_help_inner{
	margin-top: 25px;
	padding-bottom: 25px;
}

.mod_server .center_box_top ul li p{
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 700;
	color: #444;
	text-overflow: ellipsis;
    white-space: nowrap;
    /*margin-right: 5px;*/
}
.mod_fade{
	margin-top: 20px;
}
.mod_fade .container>img{
	vertical-align: middle;
	color: #fff;
	text-align: center;
	line-height: 51px;
	font-size: 20px;
	margin-bottom: 20px;
}
.container{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 16px;
	color: #494949;
}
.container p{
	line-height: 29px;
	margin: 0 0 10px;
	text-align: center;
	font-size: 16px;
	color: #494949;
}
.email{
	border: 1px solid rgba(195,195,195,1);
	margin: 24px 0 0 0 ;
	width: 34%;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 0 14px 0px;
	font-size: 21px;
	color: #494949;
}
.container a{
	color: #000000;
	font-size: 17px;
	background: transparent;
	text-align: center;
	margin: 20px auto;
	display: inline-block;
}
/*公安备案*/
.down_copyright{
	line-height: 59px;
	text-align: center;
	color: rgba(255,255,255,0.89);
}
.down_container{
	line-height: 5px;
	font-size: 15px;
	padding-top: 22px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.down_container p{
    display: inline-block;
}
.down_container>a>img{
	vertical-align: middle;
}
/*疯狂抢购*/
/*.data_spm{
	margin-bottom: 30px;
}*/
.crazy_shopping{
	font-family: Microsoft Yahei,tahoma,arial,'Hiragino Sans GB','\24b8b\4f53',sans-serif;
}
.floorTitle{
	position: relative;
}
.J_tabList{
	clear: both;
	margin: 0;
	padding: 0;
	height: 30px;
}
.J_tabList li{
	color: #fff;
	float: left;
	margin-right: 10px;
	padding: 5px 18px;
	line-height: 20px;
	font-size: 14px;
	cursor: pointer;
	background: #f10214;
}
.floorLine{
	width: 100%;
	height: 2px;
	background: #f10214;
}
.floorLogo{
	width: 189px;
	height: 50px;
	background: url(../images/T1f1vVFvJbXXaj5hzm-189-50.png);
	position: absolute;
	right: -2px;
	bottom: 2px;
}
.fresh_market_goods_wrap{
	position: relative;
	width: 100%;
	height: 340px;
	margin-top: 16px;
	padding: 10px 10px 0;
	overflow: hidden;
}
.fresh_market_goods{
	display: block;
	width: 2400px;
	/*margin-left: 10px;*/
	height: 340px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	transition: all .8s ease;
}
.fresh_market_good{
	float: left;
	width: 240px;
	height: 340px;
	background: #fff;
}
.fresh_market_good>a{
	display: block;
	position: relative;
	padding-top: 30px;
	height: 270px;
	width: 238px;
	border: 1px solid #fff;
	text-align: center;
	transition: all .1s ease;
}
.fresh_market_good>a>img{
	margin-bottom: 15px;
	width: 180px;
	height: 180px;
	vertical-align: middle;
	text-align: center;
}
.fresh_market_good_price{
	display: block;
	min-height: 28px;
	line-height: 28px;
	font-size: 18px;
	color: #fe575f;
}
.fresh_market_good_price i{
	font-size: 16px;
	position: relative;
	margin-right: 3px;
	font-weight: 700;
	font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,Hiragino Sans GB,STHeiti,WenQuanYi Micro Hei,Droid Sans Fallback,SimSun,sans-serif!important;
    line-height: 28px;
    column-rule-color: #fe575f;
}
.fresh_market_good_name{
	width: 218px;
	margin: 0 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	color: #000;
	text-align: center;
}
.fresh_market_good_booking{
	display:block;
	position: absolute;
	bottom: -80px;
	left: -1px;
	width: 240px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: #fe575f;
	text-align: center;
	font-size: 14px;
	color: #fff;
	transition: all .1s ease;
}
.fresh_market_good>a:hover{
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.14);
}
.fresh_market_good>a:hover .fresh_market_good_booking{
	bottom: -40px;
}

