body{
	background: #fff;
}
.nav_box{
	background: #F1F1F1;
	height: 30px;
	border-bottom: 1px solid #ddd;
}
.center_box{
	width: 1200px;
	margin: 0 auto;
	min-width: 1200px;
}
.nav_center>ul>li{
	height: 30px;
	color: #999;
	line-height: 30px;
}
.nav_box .space{
	width: 1px;
	height: 10px;
	background: #ccc;
	margin: 11px 5px 0;
}
.nav_center a{
    color: #999;
}
.nav_center>ul>li>a{
	padding: 0 5px;
}
.nav_box a:hover{
	color: #C81623;
}
.nav>li{
	float: left;
}
.nav>li>.register{
	color: #f10215;
}
.login{
	font-family: verdana\,simsun;
}
.bigspace{
	border: 1px solid #e3e4e5;
	position: relative;
	border-bottom: none;
	padding-right: 20px;
}
.bigspace:hover{
	background: #fff;
	border: 1px solid #ccc;
	display: block;
	border-bottom: none;
	z-index: 1000;
}
.bigspace>i{
    position: absolute;
    right: 5px;
    line-height: 14px;
    top: 10px;
}
/*添加伪类*/
.bigspace:hover:after{
	content: "";
	width: 100%;
	height: 1px;
	background: #fff;
    position: absolute;
    left: 0;
	top: 29px;
	z-index: 100;
}
/*返回首页*/
.Home{
	float: left;
}
.Home_page{
    padding-left: 20px;
    background: url(../images/jd2015img.png) 0 -136px no-repeat;
    float: left;
}
/*我的DL*/
.myDL{
	position: absolute;
    left: -1px;
    top: 29px;
    width: 279px;
    height: 160px;
    border: 1px solid #ccc;
    background: #FFFFFF;
    display: none;
}
.myDL>li{
	padding: 10px 10px 10px 15px;
}
.myDL-box{
	width: 125px;
	line-height: 24px;
}
.myDL-li:hover .myDL{
	display: block;
	z-index: 100;
}
/*客户服务*/
.server_list{
	position: absolute;
    left: -1px;
    top: 29px;
    width: 160px;
    height: 405px;
    border: 1px solid #ccc;
    background: #FFFFFF;
    /*background: #e8e8e8;*/
    display: none;
}
.server_list>li{
	padding: 10px 10px 10px 15px;
	line-height: 24px;
	border-bottom: 1px solid #ccc;
}
.server:hover .server_list{
	display: block;
	z-index: 100;
}
/*企业文化*/
.culture_list{
	position: absolute;
    left: -1px;
    top: 29px;
    width: 160px;
    height: 410px;
    border: 1px solid #ccc;
    background: #FFFFFF;
    /*background: #e8e8e8;*/
    display: none;
}
.culture_list>li{
	padding: 10px 10px 10px 15px;
	line-height: 20px;
	border-bottom: 1px solid #ccc;
	/*width: 100%*/
}
.culture_list>li a:hover{
    color: #C81623;
}
.Culture:hover .culture_list{
	display: block;
}
/*精彩分享*/
.share_list{
	position: absolute;
    left: -1px;
    top: 29px;
    width: 160px;
    height: 165px;
    border: 1px solid #ccc;
    background: #FFFFFF;
    /*background: #e8e8e8;*/
    display: none;
}
.share_list>li{
	padding: 10px 10px 10px 15px;
	line-height: 20px;
	border-bottom: 1px solid #ccc;
}
.Share:hover .share_list{
	display: block;
	z-index: 100;
}
/*logo+搜索*/
.DL_logo{
	padding: 0;
	margin-top: 42px;
	margin-bottom: 22px;
	position: relative;
	z-index: 12;
	float: left;
	width: 362px;
	height: 60px;
}
.DL_logo>a{
	display: block;
	width: 175px;
	height: 48px;
}
.search_2017{
	width: auto;
	margin-top: 42px;
	margin-left: 144px;
	position: relative;
	z-index: 11;
	float: left;
}
.search_2017 .search{
	height: 36px;
}
.search_2017 .search>input{
	width: 446px;
	background: #333;
	float: left;
	height: 24px;
	line-height: 24px;
	color: #666;
	padding: 4px;
	margin-bottom: 4px;
	border-width: 2px 0 2px 2px;
	border-style: solid;
	font-size: 14px;
	font-family:  "microsoft yahei";
	background: #fff;
	cursor: auto;
	user-select:text;
	display: inline-block;
	font: 13.3333px Arial;
}
.search_2017 .search>button{
	background: #333;
	float: left;
	width: 82px;
	height: 36px;
	border: none;
	line-height: 1;
	color: #fff;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	cursor: pointer;
	position: relative;
	zoom: 1;
	padding: 1px 6px;
	text-align: center;
	font: 13.3333px Arial;
}
.search_shopping{
	margin-top: 42px;
	margin-right: 0;
	float: right;
	z-index: 11;
	height: 36px;
	position: relative;
}
.cw-icon{
	width: 75px;
	height: 34px;
	border: 1px solid #DFDFDF;
	padding: 0 28px 0 36px;
	background: #f9f9f9;
	text-align: center;
	line-height: 34px;
	position: relative;
}
.cw-icon .ci_left{
	top: 9px;
	left: 18px;
	width: 18px;
	height: 16px;
	background: url(../images/jd2015img.png) 0 -58px no-repeat;
	display: block;
	position: absolute;
	overflow: hidden;
	text-align: center;
	line-height: 34px;
}
.cw-icon .ci_count{
	position: absolute;
	top: -4px;
	left: 104px;
	display: inline-block;
	padding: 1px 2px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background: #c81623;
	border-radius: 7px 7px 7px 0;
	min-width: 12px;
	text-align: center;

	font-style: normal;
}
.cw-icon a{
	color: #666;
	text-align: center;
	line-height: 34px;
}
.dropdown_layer{
	display:none;
	right: 0;
	width: 308px;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	position: absolute;
}
.spacer{
	position: absolute;
	right: 0;
	top: -7px;
	width: 139px;
	height: 12px;
	background: #fff;
}
.prompt{
	padding: 10px 15px;
}
.nogoods{
	padding-left: 30px;
	height: 49px;
	line-height: 49px;
	overflow: hidden;
	color: #999;
}
.nogoods>b{
	float: left;
	width: 56px;
	height: 49px;
	background: url(../images/settleup-nogoods.png) center center no-repeat;
	line-height: 49px;
	color: #999;
}
.search_shopping:hover .cw-icon{
	background: #fff;
}
.search_shopping:hover .dropdown_layer{
    display: block;
}
.hotword{
	width: 518px;
	height: 24px;
	margin-left: 144px;
	font-size: 14px;
	color: #999;
	overflow: hidden;
	float: left;
}
.hotword strong{
	font-weight: bold;
	line-height: 24px;
	font-size: 14px;
	color: #999;
}
.hotword>a{
	color: #999;
	margin-right: 10px;
	line-height: 24px;
	font-size: 14px;
	display: inline-block;
}
/*内容区*/
.mod_container{
	position: relative;
	min-width: 1200px;
	font: 14px/1.5 \5FAE\8F6F\96C5\9ED1,\5B8B\4F53,Hiragino Sans GB,STHeiti,WenQuanYi Micro Hei,Droid Sans Fallback,SimSun,sans-serif;
}
/*内容头*/
.mod_head{
	height: 40px;
	background: #fff;
	border-bottom: 1px solid #666;
}
.mod_main{
	overflow: hidden;
	margin: 0 auto;
}
.mod_main>a{
	color: #222;
	transition: color .25s ease;
	float: left;
	padding: 0 60px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
}
.mod_main>a:nth-child(1){
    color: #fff;
    background: #333;
}
.mod_main .mode_head_list:hover{
	color: #fe575f;
}
/*内容导航*/
.index_mod_nav{
	position: relative;
	height: 110px;
	background: #fff;
}
.index_mod_main{
	height: 110px;
	position: relative;
	margin: 0 auto;
}
.index_mod_nav_items{
	/*overflow: hidden;*/
	height: 110px;
	width: 100%;
	position: relative;
}
.index_mod_nav_items>li{
	
	float: left;
	display: block;
	width: 102px;
	padding: 0 34.7px;
	height: 110px;
}
.index_mod_nav_items>li>a{
	padding-top: 2px;
	margin-top: 9px;
	width: 92px;
	height: 92px;
	position: relative;
	left: 0;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #666;
	transition: all .1s ease;
}
.index_mod_nav_items>li>a .index_mod_nav_icons{
	
	-webkit-background-size: 410px 50px;
	background-size: 410px 50px;
	text-align: center;
	font-size: 14px;
	color: #666;
	width: 50px;
	height: 50px;
	margin: 8px auto 0;
	display: block;
}
.index_mod_nav_items>li>a>span{
	text-align: center;
	color: #666;
}
.index_mod_nav_items>li>a .index_mod_nav_item_down{
    bottom: -4px;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    font-size: 16px;
    color: #d8d8d8;
    text-align: center;
    display: block;
}
.index_mod_nav_items>li>a:hover{
	color: #666;
	border-radius: 999px;
    box-shadow: 0 0 10px rgba(0,0,0,.14)
}
.index_mode_nav_type{
	position: absolute;
	left: -34.7px;
	top: 110px;
	width: 1200px;
	display: none;
	padding: 30px 0;
	background: #333;
	/*设置透明度*/
	opacity: .95;
	z-index: 100;
}
.index_mode_nav_type>ul:after{
	content: "";
	display: block;
	/*overflow: hidden;*/
	clear: both;
}
.index_mode_nav_type>ul>li{
	float: left;
	position: relative;
	width: 199px;
	height: 24px;
	border-right: 1px solid #5d5d5d;
}
.index_mode_nav_type>ul>li>a{
	display: block;
	padding-left: 60px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #fff;
	transition: color .25s ease;
}
.index_mode_nav_type>ul>li>a:hover{
	color: #fe575f;
}
.index_mod_nav_items>li:hover .index_mode_nav_type{
	display: block;
}
/*大图滚动*/
.fresh_banner{
	position: relative;
	height: 500px;
	background: #fff;
}
.index_mod_main{
	height: 100%;
}
.fresh_banner_slide{
	float: left;
	width: 900px;
	position: relative;
	height: 100%;
	background: url(../images/loading.gif) 50% no-repeat;
}
.fresh_banner_presell{
	float: left;
	position: relative;
	width: 300px;
	height: 100%;
	background: url(../images/presell_bg_v2.png) no-repeat;
}
.fresh_banner_td{
	width: 100%;
	height: 100%;
}
.fresh_banner_td ul{
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.fresh_banner_td ul li{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.fresh_banner_td ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #222;
	transition: color .25s ease;
}
.fresh_banner_td ul li a:hover{
	color: #fe575f;
}
.fresh_banner_td ul li a img{
	vertical-align: top;
}
.fresh_banner_bd{
	width: 100%;
	position: absolute;
	top: 458px;
	left: 0;
}
.fresh_banner_bd ul{
	text-align: center;
	width: 100%;
}
.fresh_banner_bd ul li{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	opacity: .5;
	margin: 0 4px;
	border: 2px solid #000;
	cursor: pointer;
	background: #fff;
	display: inline-block;
	text-align: center;
}
.fresh_banner_bd ul li:hover{
	color: #000;
	background: #000;
}
.fresh_banner_presell_header{
	position: absolute;
	left: 41px;
	top: 30px;
	width: 212px;
	height: 40px;
	padding-top: 7px;
	text-align: center;
	background: url(../images/presell_header@1x.png) 0 0 no-repeat;
	background-size: 212px 47px;
}
.fresh_banner_presell_header span{
	color: #fff;
	font-size: 18.28px;
}
.fresh_banner_presell_main{
	position: relative;
	height: 100%;
}
.fresh_banner_presell_img{
	position: relative;
	width: 300px;
	height: 240px;
	padding: 94px 0 0;
	overflow: hidden;
}
.fresh_banner_presell_img2d{
	width: 370px;
	margin: 0 0 0 -35px;
	overflow: hidden;
}
.fresh_banner_presell_img2d_small{
	position: relative;
	float: left;
	width: 70px;
	height: 70px;
	margin: 76px 0 0;
	overflow: hidden;
	cursor: pointer;
}
.fresh_banner_presell_img2d_box{
	margin-left: 0px;
	width: 10000px;
	overflow: hidden;
}
.fresh_banner_presell_img2d_small_item{
	position: relative;
	float: left;
	width: 70px;
	height: 70px;
	text-align: center;
	background: #fff;
	border-radius: 50%;
}
.fresh_banner_presell_img2d_small_item img{
	width: 50px;
	height: 50px;
	margin-top: 10px;
	vertical-align: top;
}
.fresh_banner_presell_img2d>a{
	color: #222;
	transition: color .25s ease;
	position: relative;
	float: left;
	width: 230px;
	height: 224px;
	overflow: hidden;
	/*padding: 0 3px;*/
	border-radius: 50%;
}
.fresh_banner_presell_img2d_big_item{
	float: left;
	width: 230px;
	height: 230px;
	text-align: center;
	background: #fff;
	
}
.fresh_banner_presell_img2d>a img{
    vertical-align: middle;
    width: 151px;
    height: 151px;
    margin: 36px 0 0;
    text-align: center;
}
.fresh_banner_presell_switch{
	text-align: center;
}
.fresh_banner_presell_switch span{
	background: rgba(255,255,255,.1);
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 3px;
	border-radius: 50%;
	border: 1px solid #6e7d78;
	cursor: pointer;
	/*text-align: center;*/
}
.fresh_banner_presell_switch span:hover{
	background: #6e7d78;
}
.fresh_banner_presell_info{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 300px;
	margin: 10px 0 0;
}
.fresh_banner_presell_info_item{
	text-align: center;
}
.fresh_banner_presell_info_item .fresh_banner_presell_info_item_txt h4{
	font-weight: 400;
	width: 280px;
	margin: 0 auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 18px;
	display: block;
}
.fresh_banner_presell_info_item .fresh_banner_presell_info_item_txt h4 a{
	color: #000;
	transition: color .25s ease;
}
.fresh_banner_presell_info_item .fresh_banner_presell_info_item_txt h4 a:hover{
	color: #fe575f;
}
.fresh_banner_presell_info_item_price{
	font-size: 28px;
	color: #fe575f;
	text-align: center;
}
.fresh_banner_presell_info_item_price em{
	font-size: 28px;
}
.fresh_banner_presell_info_item_btn{
	margin: 8px 0 0;
}
.fresh_banner_presell_info_item_btn>a{
	display: block;
	height: 60px;
	background: #fe575f;
	text-align: center;
	line-height: 60px;
	font-size: 22px;
	color: #fff;
	transition: background .25s ease;
}
.fresh_banner_presell_info_item_btn>a:hover{
	background: #da1422;
    color: #fff;
}
/*品质保证*/
.index_mod_server{
	height: 110px;
	background: #fff;
}
.index_mod_server_main{
	overflow: hidden;
	height: 110px;
	position: relative;
}
.index_mod_server_main li{
	float: left;
	position: relative;
	width: 240px;
	height: 110px;
}
.index_mod_service_icon{
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 110px;
	line-height: 110px;
}
.mod_service_span{
	width: 72px;
	height: 72px;
	border-radius: 50%;
	border: 2px solid silver;
	display: inline-block;
	/*line-height: 110px;*/
	margin: 17px 2px auto 2px;
}
.index_mod_service_icon_content{
	position: absolute;
	top: 3px;
	left: 22px;
	color: #2a2a2a;
}
.index_mod_service_content{
	width: 110px;
	padding: 30px 0 0 90px;
	white-space: nowrap;
	text-align: left;
}
.index_mod_service_title{
	margin-bottom: 4px;
	font-size: 18px;
	color: #000;
}
.index_mod_service_detail{
	font-size: 12px;
	color: #aaa;
}
.index_mod_service_division{
	position: absolute;
	right: -15px;
	top: 0;
	width: 70px;
	height: 110px;
	line-height: 110px;
}
.index_mod_service_division_icon{
	font-size: 40px;
	color: #ededed;
}